.App {
  width: 100%;
}
/*-- Header Styling --*/

.Header {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  max-width: 100%;
}

.Header nav {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
}

.Header nav a {
  color: #668586;
  font-size: 25px;
  font-variant: small-caps;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  white-space: nowrap;
  width: 100%;
}

.Header nav a:hover {
  color: #93c6d6;
  text-decoration: underline;
}

.horizontalLine {
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navBar {
  display: flex;
  flex-direction: row;
  height: 55px;
  max-width: 100%;
}

.navBar p {
  padding-top: 10px;
}

.navTitle a {
  color: #232e2f;
  margin-left: 50px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
}

.navTitle a:hover {
  color: #668586;
}

.topCategory {
  color: #464649;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  margin-left: 50px;
  padding-left: 30px;
}

.searchBar {
  padding-bottom: 20px;
}

.searchBar p {
  color: #464649;
  font-size: 12px;
  margin-bottom: 0px;
}

.Header form {
  align-items: center;
  display: flex;
  flex-flow: row;
  height: 55px;
  padding-left: 30px;
}

.Header input {
  height: 20px;
}

.Header button {
  color: #464649;
  height: 20px;
  margin: 10px;
}

/*-- Home Styling --*/

.articles {
  display: grid;
  grid-template-columns: 45% 45%;
  border-bottom: 1px solid black;
}

.articleTitle {
  color: #232e2f;
  font-weight: 600;
  margin-left: 50px;
  padding-left: 30px;
}

.Home {
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 25px;
}

.horizontalLine2 {
  border-bottom: 1px solid darkgray;
  padding-bottom: 20px;
  width: 80%;
}

.categoryTitle {
  color: #6096ba;
  font-size: 10px;
  text-transform: uppercase;
  margin-left: 50px;
  padding-left: 30px;
}

.categoryTitle span {
  color: #232323;
  font-size: 12px;
  font-weight: 300;
}

.description {
  font-weight: 300;
  line-height: 25px;
  margin-left: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.description a {
  color: #6096ba;
  font-weight: 500;
}

.meme img {
  min-width: 70%;
  max-width: 70%;
  margin-left: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
}
