.Header {
  color: black;
  font-size: 24px;
  color: #6096ba;
  font-size: 23px;
  text-transform: small-caps;
  margin: 0 10px;
  text-decoration: none;
}

/*-- Home Styling --*/

.Home h3 {
  font-size: 24px;
  color: olive;
  font-weight: 200;
}

.categoryTitle {
  color: #6096ba;
  text-transform: uppercase;
}
