/*-- Header Styling --*/

.Header {
  min-width: 1080px;
  max-width: 1080px;
  padding: 50px;
}

.Header nav {
  display: flex;
  flex-direction: row;
}

.Header nav a {
  color: #668586;
  font-size: 30px;
  font-variant: small-caps;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
}

.Header nav a:hover {
  color: #93c6d6;
  text-decoration: underline;
}

.Header button {
}

/*-- Home Styling --*/

.Home {
}

.Home h3 {
  font-size: 24px;
  color: olive;
  font-weight: 200;
}

.categoryTitle {
  color: #6096ba;
  text-transform: uppercase;
}
